[Unit]
Description=Switch to light theme
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme-toggle light

[Install]
WantedBy=default.target
