# Hyprpaper configuration

# Preload wallpaper from wallpapers directory
preload = ~/NyxWallpapers/arseniy-chebynkin-tokyo-street-night.jpg
preload = ~/NyxWallpapers/Electronic_Sample_96-calm-night.png

# Set wallpaper for all monitors
{{- if eq .chassis "desktop" }}
wallpaper = HDMI-A-1,~/NyxWallpapers/arseniy-chebynkin-tokyo-street-night.jpg
wallpaper = DP-1,~/NyxWallpapers/Electronic_Sample_96-calm-night.png
{{- else }}
wallpaper = ,~/NyxWallpapers/Electronic_Sample_96-calm-night.png
{{- end }}
# Enable splash screen
splash = false

# Enable IPC
ipc = on
