# Hyprpaper configuration

# Preload wallpaper from wallpapers directory
preload = ~/NyxWallpapers/arseniy-chebynkin-tokyo-street-night.jpg
preload = ~/NyxWallpapers/Electronic_Sample_96-calm-night.png

# Set wallpaper for all monitors
{{- if eq .machinename "cnyx" }}
wallpaper {
	monitor = HDMI-A-1
	path = ~/NyxWallpapers/arseniy-chebynkin-tokyo-street-night.jpg
}
wallpaper {
	monitor = DP-1
	path = ~/NyxWallpapers/Electronic_Sample_96-calm-night.png
}
{{- else }}

wallpaper {
	monitor = 
	path = ~/NyxWallpapers/Electronic_Sample_96-calm-night.png
}
{{- end }}
# Enable splash screen
splash = false

# Enable IPC
ipc = on
